.button{
    color: var(--color-main);
    background-color: transparent;
    border: solid 1px currentColor;
    border-radius: 4px;
    margin: 0 2px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover{
    scale: 1.1;
}
.disabled{
	color: grey;
	background-color: var(--color-main);
    border: solid 1px currentColor;
    cursor: not-allowed;
}
.disabled:hover{
	color: grey;
	background-color: transparent;
}
.checked{
    background-color: var(--color-main);
}