h1 {
	font-weight: 600;
	width: 100%;
}

h2 {
	font-weight: 300;
}

.container {
	background-color: white;
	padding: 32px 24px;
	border-radius: 12px;
	width: 300px;
	max-width: 800px;
	box-shadow: 2px 2px 6px #9f9f9f;
	font-style: inherit;
}

.header {
	display: flex;
	font-size: 12px;

}
.headerContainer{
	width: 80%;
}

.button {
	background: none;
	border: 0;
	color: var(--color-main);
	width: 20%;
	font: inherit;
	font-size: 48px;
	cursor: pointer;
	transition: all 0.3s;
}
.button:hover {
	scale: 1.2;
}
.list {
	margin-top: 12px;
}

@media(min-width: 768px){
	.container {
	width: 500px;
	}
}